{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock%} | Kalemlik </title>
</head>
<body>
  
  <nav class="py-1 px-8 bg-gradient-to-r from-amber-500 to-blue-500 items-center justify-between flex">
   
   <img class="object-fill h-16 w-32" src="{% static 'egeartlogo.jpeg'%}">

    <div>
      
        {% if request.user.is_authenticated %}
        <a href="{% url 'index' %}" class="text-white text-xl font-bold py-2 px-8 bg-green-500  rounded-lg" >Konaklama</a>
        <a href="{% url 'index' %}" class="text-white text-xl font-bold py-2 px-8 bg-green-500  rounded-lg" >Gelir/Gider</a>
        <a href="{% url 'core:logout' %}" class="text-white text-xl font-bold  py-2 px-8 bg-red-700 rounded-lg" >Çıkış</a>
        {% else %}
        <a href="{% url 'core:login' %}" class="text-white text-xl font-bold py-2 px-8 bg-slate-600  rounded-lg" >Giriş</a>
        <a href="{% url 'core:signup' %}" class="text-white text-xl font-bold py-2 px-8 bg-sky-600 rounded-lg" >Kayıt</a>
        {% endif %}
    </div>

  </nav>
  <div class="flex h-screen bg-amber-500">
    <div class="flex-1 flex flex-col overflow-hidden">

      <div class="flex h-full">

        <main class="flex flex-col w-full bg-white overflow-x-hidden overflow-y-auto mb-14">
            <div class="relative overflow-x-auto shadow-md ">
                {% block content %}

                {% endblock %} 
            </div>
        </main>

      </div>
    </div>
  </div>

  
  <footer class="py-8 px-8 bg-slate-900 text-center">
    <p class="text-white">Copyright (c) 2024 - Kalemlik/TechNova</p>
  </footer>
</body>
</html>