{% extends 'core/base.html' %}

{% block title %} Merhaba {% endblock %}
{% block content %}

<nav class="px-6 py-2 border-b bg-white items-center justify-between flex">
    
    <div class="col-span-1">


    </div>
 
 
     <div>
        <a href="{% url 'account:credit' %}" class="text-white px-12 text-xl font-bold bg-green-500 rounded-lg" >Alacak Girişi</a>
        <a href="{% url 'account:debit' %}" class="text-white px-12 text-xl font-bold bg-red-600 rounded-lg" >Borç Girişi</a>
        <a href="{% url 'account:newGelir' %}" class="text-white px-12 text-xl font-bold bg-green-500 rounded-lg" >Yeni Gelir</a>
         <a href="{% url 'account:new' %}" class="text-white px-12 text-xl font-bold bg-red-600 rounded-lg" >Yeni Gider</a>
     </div>
 
</nav>

<div class="mt-1 px-1 py-1 bg-green-500 rounded-xl flex">
    <div class="flex-1">
        <nav class="flex w-75 h-full bg-green-400">
            <div class="w-full flex mx-auto px-6 py-8">
                <form method="post" action="{% url 'account:credit'%}">
                    {% csrf_token %}
                    <div class="flex flex-col">
                        <div class="mb-1 mx-3">
                            <label class="inline-block mb-2">Müşteri</label><br>
                            {{ form.customer }}
                        </div>
                        <div class="mb-1 mx-3">
                            <label class="inline-block mb-2">Fat.Tarihi</label><br>
                            {{ form.invoiceDate }}
                        </div>
                        <div class=" mb-1 mx-3 w-64 ">
                            <label class="inline-block mb-2">Fat.Tutarı</label><br>
                            {{ form.invoicePrice }}
                        </div>
                
                        <div class=" mb-1 mx-3 w-64 ">
                            <label class="inline-block mb-2">Ödeme Vadesi</label><br>
                            {{ form.paymentTerm }}
                        </div>
                
                        <div class="mb-1 mx-3">
                            <label class="inline-block mb-2">Açıklama</label><br>
                            {{ form.description }}
                        </div>
                        <div class="mb-1 mx-3">
                            <label class="inline-block mb-2">Birim</label><br>
                            {{ form.area }}
                        </div>

                
                    </div> 
                    <input type="submit" value="submit" class="items-center h-10 rounded-xl bg-teal-800 mt-2"/>
                </form>
            </div>
        </nav>
    </div>
 <div class="grid grid-cols-1 w-full" >

    <div class="bg-green-500 px-1 mt-1">
        <table class="table border-collapse border border-slate-400 ">
            <caption class="caption-top bg-green-500 text-white">
                Alacaklar
            </caption>
            <thead class="bg-slate-700">
                <tr>
                    <td class="border border-slate-300 text-white ">Müşteri</td>
                    <td class="border border-slate-300 text-white">Fat.Tarihi</td>
                    <td class="border border-slate-300 text-white ">Fat.Tutarı</td>
                    <td class="border border-slate-300 text-white">Vadesi</td>
                    <td class="border border-slate-300 text-white w-80 ">Açıklama</td>
                    <td class="border border-slate-300 text-white">Birim</td>
                    <td class="border border-slate-300 text-white ">Sil</td>
                </tr>
            </thead>
            {% for credit in credits %}
            <tr class="bg-white">
                <td class="border border-slate-300">{{ credit.customer}}</td>
                <td class="border border-slate-300">{{ credit.invoiceDate |date:"d/m/Y"}}</td>
                <td class="border border-slate-300 text-right">{{ credit.invoicePrice|floatformat:"2g"}}</td>
                <td class="border border-slate-300 text-right">{{ credit.paymentTerm }}</td>
                <td class="border border-slate-300">{{ credit.description }}</td>
                <td class="border border-slate-300">{{ credit.area }}</td>
                <td class="border border-slate-300"><a  href="{% url 'account:deleteCredit' credit.id %}">Sil</a></td>
            </tr>
            
            {% endfor %}
            <tr class="bg-slate-100 >">
                <td colspan="2" class="border border-slate-300 text-2xl">Toplam</td>
                <td class="border border-slate-300 text-2xl">{{ total|floatformat:"2g"}}</td>
                <td colspan="4" class="border border-slate-300"></td>

            </tr>
        </table>

    </div>

    

    
 </div>
</div>




{% endblock %}