{% extends 'core/base.html' %}

{% block title %} Merhaba {% endblock %}
{% block content %}

<nav class="px-6 py-2 border-b bg-teal-800 items-center justify-between flex">
    
    <div class="col-span-1">


    </div>
 
 
     <div>
        <a href="{% url 'account:newGelir' %}" class="text-black px-12 text-2xl font-bold bg-sky-600 rounded-lg" >Yeni Gelir</a>
         <a href="{% url 'account:new' %}" class="text-black px-12 text-2xl font-bold bg-sky-600 rounded-lg" >Yeni Gider</a>
     </div>
 
</nav>

<div class="mt-1 px-1 py-1 bg-teal-700 rounded-xl flex">
    <div class="flex-1">
        <nav class="flex w-72 h-full bg-teal-500">
            <div class="w-full flex mx-auto px-6 py-8">
                <form method="get" action="{% url 'core:index'%}">
                    {{form.as_p}}
                    <input type="submit" value="submit" class="items-center h-10 rounded-xl bg-teal-800"/>
                </form>
            </div>
        </nav>
    </div>
 <div class="grid grid-cols-2" >

    <div class="bg-teal-600 px-1 mt-1 w-200">
        <table class="table-fixed border-collapse border border-slate-400">
            <caption class="caption-top bg-slate-900 text-white">
                Gelirler
            </caption>
            <thead class="bg-slate-700">
                <tr>
                    <td class="border border-slate-300 text-white">Tarih</td>
                    <td class="border border-slate-300 text-white">Doküman Tipi</td>
                    <td class="border border-slate-300 text-white">Açıklama</td>
                    <td class="border border-slate-300 text-white">Tutar</td>
                </tr>
            </thead>
            {% for account in accounts %}
            <a href="{% url 'account:detailgl' account.id %}">
                <tr>
                 <td class="border border-slate-300"><a href="{% url 'account:detailgl' account.id %}">{{ account.documentDate |date:"d/m/Y"}}</a></td>
                 <td class="border border-slate-300">{{ account.documentType }}</td>
                 <td class="border border-slate-300">{{ account.description }}</td>
                 <td class="border border-slate-300">{{ account.price |floatformat:0 }}</td>
            </tr>
            </a>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if accounts.has_previous %}
                    <a class="h-10 bg-blue-500  text-white" href="?page=1">&laquo; first</a>
                    <a class="h-10 bg-blue-500  text-white" href="?page={{ accounts.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ accounts.number }} of {{ accounts.paginator.num_pages }}.
                </span>
        
                {% if accounts.has_next %}
                    <a class="h-10 bg-blue-500  text-white" href="?page={{ accounts.next_page_number }}">next</a>
                    <a class="h-10 bg-blue-500  text-white" href="?page={{ accounts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>  
    </div>

    
    <div class="bg-teal-600 px-1 mt-1 w-120">
        <table class="table-fixed border-collapse border border-slate-400">
            <caption  class="caption-top bg-slate-900 text-white">
                Giderler
            </caption>
            <thead  class="bg-slate-700">
                <tr>
                    <td class="border border-slate-300 text-white">Tarih</td>
                    <td class="border border-slate-300 text-white">Doküman Tipi</td>
                    <td class="border border-slate-300 text-white">Açıklama</td>
                    <td class="border border-slate-300 text-white">Tutar</td>
                </tr>
            </thead>
            {% for account in accounts2 %}
            <a href="{% url 'account:detail' account.id %}">
                <tr>
                 <td class="border border-slate-300"><a href="{% url 'account:detail' account.id %}">{{ account.documentDate |date:"d/m/Y"}}</a></td>
                 <td class="border border-slate-300">{{ account.documentType }}</td>
                 <td class="border border-slate-300">{{ account.description }}</td>
                 <td class="border border-slate-300">{{ account.price |floatformat:0 }}</td>
            </tr>
            </a>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if accounts.has_previous %}
                    <a class="h-10 bg-blue-500  text-white" href="?page=1">&laquo; first</a>
                    <a class="h-10 bg-blue-500  text-white" href="?page={{ accounts.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ accounts.number }} of {{ accounts.paginator.num_pages }}.
                </span>
        
                {% if accounts.has_next %}
                    <a class="h-10 bg-blue-500  text-white" href="?page={{ accounts.next_page_number }}">next</a>
                    <a class="h-10 bg-blue-500  text-white" href="?page={{ accounts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    
 </div>
</div>




{% endblock %}