{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}



{% block content %}


<div class="w-2/3 my-2 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="w-full mb-6 text-3xl bg-amber-400">{{ title }}</h1>
    <form method="post" action="."  enctype="multipart/form-data">
        {% csrf_token %}
    <div class="flex flex-wrap">
        <div class="mb-1 mx-3">
            <label class="inline-block mb-2">Tarih</label><br>
            {{ form.documentDate }}
        </div>
        <div class="mb-1 mx-3">
            <label class="inline-block mb-2">Birim</label><br>
            {{ form.area }}
        </div>
        <div class=" mb-1 mx-3 w-64 ">
            <label class="inline-block mb-2">Belge Türü</label><br>
            {{ form.documentType }}
        </div>

        <div class=" mb-1 mx-3 w-64 ">
            <label class="inline-block mb-2">Ödeme Tipi</label><br>
            {{ form.payType }}
        </div>

        <div class="mb-1 mx-3">
            <label class="inline-block mb-2">Banka</label><br>
            {{ form.banka }}
        </div>
        <div class="mb-1 mx-3">
            <label class="inline-block mb-2">Tutar</label><br>
            {{ form.price }}
        </div>
        <div class="mb-1 mx-3">
            <label class="inline-block mb-2">P.Birimi</label><br>
            {{ form.currencyUnit}}
        </div>
        <div class="mb-1 mx-3">
            <label class="inline-block mb-2">Müşteri/Tedarikçi</label><br>
            {{ form.supplier }}
        </div>
        <div class="mb-1 w-full">
            <label class="inline-block mb-2">Açıklama</label><br>
            {{ form.description }}
        </div>





        <div class="mb-1 w-full">
            <label class="inline-block mb-2">Belge Resmi</label><br>
            {{ form.documentImage }}
        </div>
    </div> 
        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
</div>


{% endblock %}