{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}



{% block content %}
<h1 class="mb-6 text-3xl">{{ title }}</h1>

<div class="w-2/3 my-6 mx-auto p-6 bg-gray-100 rounded-xl">

    <form method="post" action="."  enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-1">
            <label class="inline-block mb-2">Belge Tipi</label><br>
            {{ form.documentGroup }}
        </div>
        <div class="mb-1">
            <label class="inline-block mb-2">Belge Türü</label><br>
            {{ form.documentType }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Belge No</label><br>
            {{ form.documentNo }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Açıklama</label><br>
            {{ form.description }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Belge Tutarı</label><br>
            {{ form.price }}
        </div>
        <div class="mb-1">
            <label class="inline-block mb-2">Belge Tarihi</label><br>
            {{ form.documentDate }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Kar/Masraf Yeri</label><br>
            {{ form.area }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Konaklama No</label><br>
            {{ form.accomodation }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Tedarikçi</label><br>
            {{ form.supplier }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Proje</label><br>
            {{ form.project }}
        </div>

        <div class="mb-1">
            <label class="inline-block mb-2">Belge Resmi</label><br>
            {{ form.documentImage }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
</div>


{% endblock %}